<div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfil.png" 
        class="img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <P id="nombre">Molina Ricardo Alberto</P>
        <p>Full Stack Developer Jr</p>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
        <span>
            <h1>Acerca de mí</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. In amet officiis debitis veniam ab corrupti tenetur nam, obcaecati unde, beatae aliquid! Quod perspiciatis aut dignissimos debitis doloremque ab, explicabo accusantium.</p>
        </span>
    </div>
</div>