<div class="row">
    <h3>Proyectos realizados</h3>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h1>Encriptador</h1>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus veniam natus ad eligendi nihil excepturi incidunt corrupti iusto fugit tempora deserunt enim totam nesciunt, id qui, rerum eaque doloribus velit.</p>
        </div>
        <div class="col-sm-12 col-md-3 col-lg-3 offset-md-1 offset-lg-1 parte2">
            <img src="../../../assets/2022-09-19.png"
            class="img-fluid img-proyecto" >
        </div>
    </div>
</div>
