<div class="row">
    <div class="container">
        <div class="logo">
            <img src="../../../assets/APLogo-20-20.png" id="logoAP">
        </div>
        <div class="redes">
                <a href="/login"><img src="../../../assets/facebook-png-blanco-icono-facebook-png-blanco-115629139820drh8uuhb5.png" id="facebook"></a>
                <a href=""><img src="../../../assets/github_PNG40.png" id="github"></a>
                <a href=""><img src="../../../assets/insta.png" id="instagram"></a>
                <a href=""><img src="../../../assets/png-transparent-computer-icons-linkedin-logo-insta-miscellaneous-angle-text.png" id="linkedin"></a>
                <a href=""><img src="../../../assets/twitter.png" id="twitter"></a>
                <button type="button" class="btn btn-outline-light" (click)="login()">INICIO</button>
        </div>
    </div>
</div>

